language: generic
dist: trusty
before_script:
  - echo "aaaalan culam"
  - git config --global url."git@github.com:".insteadOf "https://github.com/"

script: echo "alan alan"

jobs:
  include:
    - stage: stage for all
      script:
      - echo -en "we are all here"
    - stage: stage only for master
      if: branch = master
      script:
      - echo -en "i am the master"