language: generic
dist: trusty

before_install:
  -export TAG="ziv"
  -exho "ziv ziv ziv ziv"

before_script:
  - echo "aaaalan culam"

script: echo "alan alan"

jobs:
  include:
    - stage: stage for all
      script:
      - echo -en "we are all here"
      - echo "THIS IS THE TAG"
      - echo $TAG
    - stage: stage for all
      script:
      - echo -en "you know me"
    - stage: stage only for master
      if: branch = master
      script:
      - echo -en "i am the master"